.DS_Store
.idea
.yarn
.pnp*
.tmp-llrt-aws-sdk

/lib
/target
/target-sanitizer-*/
/llrt_core/target
/llrt_core/src/bytecode_cache.rs
/example/functions/build
/slask
/VERSION
/bundle

*.zip
a.out
*.o
cdk.out
flamegraph.svg
out.stacks
yarn-error.log
llrt-container-*
bootstrap

node_modules
!/fixtures/node_modules
!/fixtures/module-format/**/node_modules/
!/fixtures/module-format/**/node_modules/**
compat/**/compat.log
compat/**/.next
compat/**/dist
compat/**/build/
/*.log

tests/wpt/revision
/wpt
wpt_errors.tmp
