[submodule "deps/raster-runtime"]
	path = deps/raster-runtime
	url = https://github.com/Ray-D-Song/raster_runtime.git
[submodule "deps/gpui-component"]
	path = deps/gpui-component
	url = https://github.com/Ray-D-Song/raster-gpui-component.git
